<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.compusinfo.display.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.graduation.compusinfo.display.entity.Tag">
        <id column="id" property="id" />
        <result column="tagName" property="tagName" />
        <result column="tagDetail" property="tagDetail" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tagName, tagDetail
    </sql>

    <select id="selectTopTag" resultType="com.graduation.compusinfo.display.entity.Tag">
        select * from camp_tag;
    </select>

</mapper>
