<!DOCTYPE html>
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<link type="text/css" rel="stylesheet" href="../static/css/reply.css">
<script type="text/javascript" src="../static/js/replyJS/jquery.min.js"></script>
<head>
	<base href="http://localhost:8080/" />
	<meta charset="UTF-8"/>
	<link rel="shortcut icon" href="/static/images/favicon.png"/>
	<title>内容管理</title>
</head>
<body>

<!-- head YDC begin -->
<div th:include="/com/adminhead.html"></div>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-flex">
				<!-- left begin -->
				<div th:include="/com/admin-com.html"></div>
				<!-- left end -->
				<!-- right begin -->
				<div class="ydc-column ydc-column-8">
					<div class="ydc-release-content">
						<div class="ydc-tabPanel ydc-tabPanel-release">
							<div class="ydc-release-tab-head">
								<ul>
									<li class="hit">内容管理</li>
								</ul>
							</div>
							<div class="ydc-panes">
								<div class="ydc-pane" style="display:block;">
									<div class="clearfix">
										<div class="fl ydc-group-sel">
											<select>
												<option>全部类型</option>
												<option>文章</option>
												<option>视频</option>
											</select>
										</div>
										<div class="fl ydc-group-sel">
											<select>
												<option>全部信息</option>
												<option>点赞</option>
												<option>评论</option>
											</select>
										</div>
										<div class="fl ydc-group-input">
											<input type="text" placeholder="请输入关键词进行搜索">
											<button class="ydc-group-button">搜 索</button>
										</div>
									</div>
									<div id="talk_content" class="talk_content"></div>
							</div>
								<div class="ydc-pagination">
									<!--分页栏显示-->
									<ol id="pagePlugin"></ol>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- right end -->
			</div>
		</div>
	</section>
<!-- content YDC end -->

<script type="text/javascript" src="../static/admin/js/myJS/common.js"></script>
<script type="text/javascript" src="../static/admin/js/myJS/index.js"></script>
<script type="text/javascript" src="../static/admin/js/myJS/config.js"></script>

<script>
	$("#admin-content").addClass("active");
	window.onload=function(){
		getUserAllTalkData(1,10);
	};
</script>

</body>
</html>