<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <base href="http://localhost:8080/" />
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" href="/static/images/favicon.png"/>
        <title>发布文章</title>
        <script src="../static/admin/js/myJS/config.js" type="text/javascript"></script>
        <script src="../static/admin/js/myJS/common.js" type="text/javascript"></script>
        <script src="../static/admin/js/myJS/index.js" type="text/javascript"></script>
        <script type="text/javascript" src="../static/admin/js/jquery-1.5.2.min.js"></script>
    </head>
    <body>
    <div th:include="com/adminhead.html"></div>
        <!-- content YDC begin -->
        <section>
            <div class="ydc-content-slide ydc-body">
                <div class="ydc-flex">
                    <!-- left begin -->
                    <div th:include="/com/admin-com.html"></div>
                    <!-- left end -->
                    <!-- right begin -->
                    <div class="ydc-column ydc-column-8">
                        <div class="ydc-release-content">
                            <div class="ydc-tabPanel ydc-tabPanel-release">
                                <div class="ydc-release-tab-head">
                                    <ul>
                                        <li class="hit">发布文章</li>
                                    </ul>
                                    <div class="ydc-release-amount">
                                    </div>
                                </div>
                                <div class="ydc-panes">
                                    <div class="ydc-pane" style="display:block;">
                                        <div class="ydc-release-form-group ">
                                            <div class="ydc-warning-default">
                                                <p>标题字数需在11字到30字之间。</p>
                                            </div>
                                            <div class="ydc-release-form-group-input">
                                                <input type="text" class="ydc-form-control" id="art-title" title="" placeholder="请输入标题，为了更好的展示效果，建议标题字数在30个汉字以内" onkeyUp="textLimitCheck(this, 30);">
                                                <div class="ydc-form-group-jl">
                                                    <span id="messageCount">0</span>
                                                    /30
                                                </div>
                                            </div>
                                        </div>
                                            <div id="editor">
                                            <p></p>
                                        </div>
                                        <div class="ydc-form-city">
<!--                                            <form>-->
                                                <input type="text" id="DemoInput3" value="">
                                                <div class="aui-card-form-item preview  aui-news">
                                                    <label class="aui-card-form-label">封面:</label>
                                                    <div class="aui-file-up-img" id="preview_0">
                                                        <img class="" id="imghead_0" border="0" src="/static/admin/images/icon/noimg.gif">
                                                    </div>
                                                    <div class="aui-file-up-btn clearfix ">
                                                        <div class="idPicFile aui-btn aui-file-new">
                                                            <input type="file" name="myPicture" id="titleImg" class="file_photo aui-file-new-up" style="margin:0;">
                                                            <input type="hidden" name="titleImgUrl" id="titleImgUrl">
                                                            <a >上传封面</a>
                                                            <div>
                                                                <button  class="btn" id="uploadTitleImg">确定上传</button>
                                                            </div>
                                                        </div>
                                                        <div class="aui-remarks">
                                                            <p>图片尺寸建议：800*400 图片大小不超过1MB</p>
                                                        </div>
                                                    </div>
                                                </div>
<!--                                            </form>-->
                                                <div class="ydc-btn">
                                                    <button class="btn" id="relaseArt">发布</button>
<!--                                                    <button class="btn btn-default" id="submitArt">保存草稿</button>-->
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right end -->
                </div>
            </div>
        </section>
        <!-- content YDC end -->
        <script type="text/javascript" src="../static/admin/js/nicEdit.js"></script>
        <script type="text/javascript" src="../static/admin/js/upImg.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    <link rel="stylesheet" href="../static/css/jquery.sTags.css">
    <script src="https://cdn.bootcss.com/highlight.js/9.14.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="../static/js/jquery.sTags.js"></script>
        <script>
             $("#admin-release").addClass("active");
             var TagsData=[];
             TagsData.push({id:5,name:"防疫",screen:"防疫"},{id:4,name:"新闻中心",screen:"新闻中心"},
             {id:3,name:"计算机学院团委",screen:"计算机学院团委"},{id:1,name:"校易班发展中心",screen:"校易班发展中心"})
             $("#DemoInput3").sTags({
                 defaultData:[1],
                 data:TagsData,
                 colro:[1],
                 click:function(e){
                     $("#DemoInput3").value(e.attr("tagid"));
                     console.log(e.attr("tagid"));
                     console.log($("#DemoInput3").val());
                 },
             })
        </script>
        <script type="text/javascript">
	    jQuery(function(){
	        upload_start();
	    });
        </script>

        <script type="text/javascript">
	    function textLimitCheck(thisArea, maxLength){
	        if (thisArea.value.length > maxLength){
	            alert(maxLength + ' 个字限制. \r超出的将自动清除.');
	            thisArea.value = thisArea.value.substring(0, 30);
	            thisArea.focus();    }
	        messageCount.innerText = thisArea.value.length;
	        messageCount1.innerText = thisArea.value.length;
	        messageCount2.innerText = thisArea.value.length;
	    }//标题输入框字数限制
        </script>
        <!--以下是编辑器的-->
        <script src="../static/admin/edit.js/jquery-1.8.2.min.js"></script>
        <script src="../static/admin/edit.js/wangEditor.min.js"></script>
        <script src="../static/admin/edit.js/ui.js"></script>
        <script src="../static/admin/edit.js/highlight.js"></script>
        <script>
            var E = window.wangEditor;
            var editor = new E('#editor');
            // editor.customConfig.pasteIgnoreImg = true          //复制过来的内容不粘贴图片
            editor.customConfig.pasteFilterStyle = false;      //手动关闭掉粘贴样式的过滤
            // editor.customConfig.uploadImgShowBase64 = true;   // 使用 base64 保存图片
            editor.customConfig.showLinkImg = false;  // 隐藏“网络图片”ta
            editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;  // 将图片大小限制为 3M
            editor.customConfig.uploadFileName = 'myPicture';     //给上传的本;地图片文件命名的统一名称
            editor.customConfig.uploadImgServer = '/admin/picture/upload'; //官方文档上写的是服务器地址，也就是上传图片的方法名
            // editor.customConfig.qiniu = true;
            editor.customConfig.debug = true;
            editor.customConfig.uploadImgHooks = {
                before: function (xhr, editor, files) {
                    // 图片上传之前触发
                    // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件
                    console.log(files);
                    // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
                    // return {
                    //     prevent: true,
                    //     msg: '放弃上传'
                    // }
                },
                success: function (xhr, editor, result) {
                    // 图片上传并返回结果，图片插入成功之后触发
                    // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
                    // editor.cmd.do('insertHtml', '<img src="' + result + '" style="max-width:50%;"/>');
                    console.log("上传成功");
                    console.log(result);
                },
                fail: function (xhr, editor, result) {
                    // 图片上传并返回结果，但图片插入错误时触发
                    // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
                    console.log("上传失败,原因是"+result);
                },
                error: function (xhr, editor) {
                    // 图片上传出错时触发
                    // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
                    console.log("上传出错");
                },
                timeout: function (xhr, editor) {
                    // 图片上传超时时触发
                    // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
                    console.log("上传超时");
                },

                // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
                // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
                customInsert: function (insertImg, result, editor) {
                    // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                    // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
                    // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                    var url = result.data
                    insertImg(url)
                    // result 必须是一个 JSON 格式字符串！！！否则报错
                }
            }

            editor.customConfig.onchange = function (html) {
                // 监控变化，同步更新到 textarea
                $text1.val(html);
                this.onchange(html);
            }.bind(this);
            /**
             * 文本域发生变化
             */
            function e (html) {
                // html 即变化之后的内容
                if (this.imgsrc.length !== 0) {
                    let nowimgs = this.getSrc(html)
                    let merge = this.imgsrc.concat(nowimgs).filter(function (v, i, arr) {
                        return arr.indexOf(v) === arr.lastIndexOf(v)
                    })
                    for (let x in merge) {
                        let colds = merge[x].split('/')
                        alert(codes);
                        // this.deleteImage(colds) //服务器删除文件
                    }
                    this.imgsrc = nowimgs
                }
            };
            /**
             * 取出区域内所有img的src
             */
            function getSrc (html){
                var imgReg = /<img.*?(?:>|\/>)/gi
                // 匹配src属性
                var srcReg = /src=[\\"]?([^\\"]*)[\\"]?/i
                var arr = html.match(imgReg)
                let imgs = []
                if (arr) {
                    for (let i = 0; i < arr.length; i++) {
                        var src = arr[i].match(srcReg)[1]
                        imgs.push(src)
                    }
                }
                return imgs;
            };
            editor.create();

            $("#uploadTitleImg").click(function(){
                var formData = new FormData();
                formData.append("myPicture",$("#titleImg")[0].files[0]);
                $.ajax({
                    url: server+'/admin/picture/upload', /*接口域名地址*/
                    type:'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success:function(res){
                        console.log(res.data);
                        $("#titleImgUrl").val(res.data);
                        console.log("图片："+$("#titleImgUrl").val());
                    }
                })

            });

            $("#relaseArt").click(function(){
                //获取编辑器的内容，带样式
                //一般使用这个获取数据，通过ajax发送给服务端　，然后服务端以Ｓtring接收，保存到数据库．
                var _connent=editor.txt.html();
                var  art_title=$("#art-title").val();
                // var type = $("#province option:selected");
                var type = $("#DemoInput3");
                var type_id=type.val();//获取选中项的值
                var titleImgUrl = $("#titleImgUrl").val();//文章标题图片
                let data = {
                    title:art_title,
                    content:_connent,
                    typeId: type_id,
                    titleImgUrl: titleImgUrl,
                    userId: window.sessionStorage.getItem("user_id"),
                };
                publicArticle(data);
            });
        </script>
    </body>
</html>
