<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CampusInfo Platform</title>
</head>
<body>

<div th:include="/com/adminhead.html"></div>
<div>
<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-flex">
				<!-- left begin -->
				<div th:include="/com/admin-com.html"></div>
				<!-- left end -->
				<!-- right begin -->
				<div class="ydc-column ydc-column-8">
					<div class="ydc-entered-box">
						<div class="ydc-content-right">
							<div class="ydc-right-head">
								<div class="ydc-right-head-info">
									<dl>
										<a href="#">
											<dt>总订阅</dt>
											<dd>35</dd>
										</a>
									</dl>
									<dl>
										<a href="#">
											<dt>总阅读</dt>
											<dd>224</dd>
										</a>
									</dl>
									<dl>
										<a href="#">
											<dt>昨日阅读</dt>
											<dd>14</dd>
										</a>
									</dl>
									<dl>
										<a href="#">
											<dt>总数据指数</dt>
											<dd>158</dd>
										</a>
									</dl>
								</div>
								<button class="btn ydc-ne-carousel" onclick="javascript:window.location.href='/admin/release';">
									<i class="ydc-icon-shu"></i>
									<span>发布</span>
								</button>
							</div>
							<!-- gongGao begin -->
							<div class="ydc-loading-box">
								<div class="ydc-tabPanel">
									<div>
										<ul>
											<li class="hit">我的文章</li>
										</ul>
									</div>
									<div class="ydc-panes">
										<div class="ydc-pane" style="display:block;">
											<ol class="ydc-pane-list">
                                                 <!--查询我的文章-->
												<div id="articleList"></div>
											</ol>
											<div class="ydc-pagination">
												<!--分页栏显示-->
												<ol id="pagePlugin"></ol>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- gongGao End -->
						</div>
					</div>
				</div>
				<!-- right end -->
			</div>
		</div>
	</section>
<!-- content YDC end -->
</div>
</body>
<script>
	$("#admin-index").addClass("active");
	//数据处理
	window.onload=function(){
		getArticleList(1,10);
	}

</script>

</html>