<!DOCTYPE html>
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<link type="text/css" rel="stylesheet" href="../static/css/reply.css">
<script type="text/javascript" src="../static/js/replyJS/jquery.min.js"></script>
<head>
	<meta charset="UTF-8">
	<title>内容管理</title>
</head>
<body>

<!-- head YDC begin -->
<div th:include="/com/adminhead.html"></div>
<!-- head YDC end -->

<!-- content YDC begin -->
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-flex">
				<!-- left begin -->
				<div th:include="/com/admin-com.html"></div>
				<!-- left end -->
				<!-- right begin -->
				<div class="ydc-column ydc-column-8">
					<div class="ydc-release-content">
						<div class="ydc-tabPanel ydc-tabPanel-release">
							<div class="ydc-release-tab-head">
								<ul>
									<li class="hit">内容管理</li>
								</ul>
							</div>
							<div class="ydc-panes">
								<div class="ydc-pane" style="display:block;">
									<div class="clearfix">
										<div class="fl ydc-group-sel">
											<select>
												<option>全部类型</option>
												<option>文章</option>
												<option>视频</option>
											</select>
										</div>
										<div class="fl ydc-group-sel">
											<select>
												<option>全部信息</option>
												<option>点赞</option>
												<option>评论</option>
											</select>
										</div>
										<div class="fl ydc-group-input">
											<input type="text" placeholder="请输入关键词进行搜索">
											<button class="ydc-group-button">搜 索</button>
										</div>
									</div>
									<div id="talk_content" class="talk_content"></div>
<!--									<div class="ydc-group-table-item">-->
<!--												<span class="fl_left">-->
<!--													<H4 class="fl_left">文章：<a href="#">在国内为什么丰田阿尔法加价那么厉害还是会有人买？</a></H4>-->
<!--												</span>-->
<!--											<div class="comment_people_info">-->
<!--												<img class="fl_left" src="" alt=""/>-->
<!--												<span class="first_reply fl_left"><span class="first_reply_aa">刘亦菲</span></span>-->
<!--										<span class="first_reply_text">回复: </span>-->
<!--&lt;!&ndash;										<span class="date fl_right"></span>&ndash;&gt;-->
<!--									</div>-->
<!--									<div class="comment_people_content">-->
<!--										<span class="fl_left">在国内为什么丰田阿尔法加价那么厉害还是会有人买？</span>-->
<!--										<span data-userID="" data-userName="" class=" reply_fn reply_btn fl_right">回复</span>-->
<!--									</div>-->
<!--								</div>-->
<!--									    <div class="ydc-group-table-item">-->
<!--												<span class="fl_left">-->
<!--													<H3>文章：<a href="#">在国内为什么丰田阿尔法加价那么厉害还是会有人买？</a></H3>-->
<!--												</span>-->
<!--										<div class="comment_people_info">-->
<!--											<img class="fl_left" src="" alt=""/>-->
<!--											<span class="first_reply fl_left"><span class="first_reply_aa">刘亦菲</span></span>-->
<!--											<span class="first_reply_text">回复: </span>-->
<!--											&lt;!&ndash;										<span class="date fl_right"></span>&ndash;&gt;-->
<!--										</div>-->
<!--										<div class="comment_people_content">-->
<!--											<span class="fl_left">在国内为什么丰田阿尔法加价那么厉害还是会有人买？</span>-->
<!--											<span data-userID="" data-userName="" class=" reply_fn reply_btn fl_right">回复</span>-->
<!--										</div>-->
<!--									</div>-->
<!--										<div class="ydc-group-table-item">-->
<!--											<div class="ydc-group-table-item-img">-->
<!--												<img src="../static/admin/images/ad/img-ad2.jpg" alt="">-->
<!--											</div>-->
<!--											<div class="ydc-actions">-->
<!--												<div>-->
<!--													<button class="ydc-actions-trigger">下线</button>-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="ydc-group-table-item-text">-->
<!--												<span>-->
<!--													<a href="#">在国内为什么丰田阿尔法加价那么厉害还是会有人买？</a>-->
<!--												</span>-->
<!--												<span class="ydc-group-table-item-tag">已发布</span>-->
<!--											</div>-->
<!--											<div class="ydc-group-table-item-info">-->
<!--												<span>2018-05-15 23:37:33</span>-->
<!--												<span>| 推荐：4550 | 阅读：2370 | 分享：05665</span>-->
<!--											</div>-->
<!--										</div>-->
							</div>
								<div class="ydc-pagination">
									<!--分页栏显示-->
									<ol id="pagePlugin"></ol>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- right end -->
			</div>
		</div>

	</section>
<!-- content YDC end -->

<script type="text/javascript" src="../static/admin/js/myJS/common.js"></script>
<script type="text/javascript" src="../static/admin/js/myJS/index.js"></script>
<script type="text/javascript" src="../static/admin/js/myJS/config.js"></script>

<script>
	$("#admin-content").addClass("active");
	window.onload=function(){
		getUserAllTalkData(1,10);
	};
</script>

</body>
</html>