<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<base href="http://localhost:8080/" />
	<meta charset="UTF-8"/>
	<link rel="shortcut icon" href="/static/images/favicon.png"/>
	<title>帐号信息</title>
</head>
<body>
<div th:include="/com/adminhead.html"></div>
	<section>
		<div class="ydc-content-slide ydc-body">
			<div class="ydc-flex">
				<div th:include="/com/admin-com.html"></div>
				<div class="ydc-column ydc-column-8">
					<div class="ydc-release-content">
						<div class="ydc-tabPanel ydc-tabPanel-release">
							<div class="ydc-release-tab-head">
								<ul>
									<li class="hit">帐号信息</li>
								</ul>
							</div>
							<div class="ydc-panes">
								<div class="ydc-pane ydc-pane-clear" style="display:block;">
									<div class="ydc-reg-form-group clearfix">
										<label>用户角色</label>
										<div class="ydc-reg-form-input">
											<label>新闻中心</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>帐号类别</label>
										<div class="ydc-reg-form-input">
											<label>新闻中心</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>帐号图标</label>
										<div class="ydc-reg-form-input">
											<label></label>
											<div class="ydc-reg-form-text ydc-reg-form-user-logo">
												<img src="/static/admin/images/icon/user-logo.png" alt="">
											</div>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>帐号简介</label>
										<div class="ydc-reg-form-input">
											<label>这个一个官方新闻中心</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>姓名</label>
										<div class="ydc-reg-form-input">
											<label>张正楷</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>联系手机</label>
										<div class="ydc-reg-form-input">
											<label>185****2894</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>邮箱</label>
										<div class="ydc-reg-form-input">
											<label>aui_cn@163.com</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix">
										<label>学号</label>
										<div class="ydc-reg-form-input">
											<label>201624134145</label>
										</div>
									</div>
									<div class="ydc-reg-form-group clearfix" style="margin-top:40px;">
										<div class="ydc-reg-form-button" style="margin-left:255px;">
											<a class="btn fl" href="info-edit.html">修改</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- right end -->
			</div>
		</div>
	</section>
<!-- content YDC end -->
	<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script>
	$("#admin-userinfo").addClass("active");
</script>
</body>
</html>