<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META TAGS -->
    <base href="http://localhost:8080/" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>肇梦之家</title>
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>
<body>
<!-- Start of Head -->
<div th:include="/com/head.html"></div>
<!-- End of Head -->
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span12 page-content">
                <div class="row home-listing-area">
                    <div class="span6">
                        <h2>分类</h2>
                    </div>
                </div>
                <!--  分类显示-->
                <div class="row separator">
                    <section class="span6 articles-list" th:each="articleType : ${returnMap}">
                        <h3><a href="single.html" th:text="${articleType.key}"></a></h3>
                        <ul class="articles">
                            <li class="article-entry image" th:each="article,articalStat:${articleType.value}">
                                <h4><a th:href="@{/article/single(arti=${article.id},userId=-1)}" th:text="${article.title}"> &#8211; 一</a></h4>
                                <span class="article-content"><a th:href="@{/article/single(arti=${article.id},userId=-1)}" th:utext="${article.content.substring(0,300)}" ></a></span>
                                <span class="article-meta" th:text="${article.updateTime}"><a th:href="@{/campus/single(arti=${article.id},userId=-1)}" title="学院资讯1">所属学院</a></span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- end of page content -->
        </div>
    </div>
</div>
<a href="#top" id="scroll-top"></a>

</body>
</html>