<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META TAGS -->
    <base href="http://localhost:8080/" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>肇梦之家</title>
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/css/elementCSS/nprogress.css">
    <link rel="stylesheet" type="text/css" href="/static/css/elementCSS/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/elementCSS/font-awesome.min.css">
</head>
<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div th:include="com/head.html"></div>
    </nav>
</header>

<section class="container">
    <div class="content-wrap">
        <div class="content" id="fasList">
            <div class="title">
                <h3 style="line-height: 1.3">标签</h3>
            </div>
            <div id="tagArticleList"></div>
            <div class="ydc-pagination">
                <!--分页栏显示-->
                <ol id="tagPagePlugin"></ol>
            </div>
        </div>
    </div>
<!--    查询栏-->
    <aside class="sidebar">
        <div class="fixed">
            <section class="widget">
                    <div class="support-widget">
                        <input type="text" class="form-control" id="keywords" placeholder="回车查询">
                        <span class="input-group-btn">
                             <button class="btn btn-default" id="search" type="button">查询</button>
                        </span><br>
                        <div style="margin:20px 20px 0px 20px;">
                            <span id="empty">清除历史</span>
                        </div>
                        <div style="margin:10px;" id="history"></div>
                    </div>
            </section>


            <!--  标签分类显示-->
            <div class="widget widget_sentence">
                <h3>标签云</h3>
                <div class="widget-sentence-content">
                    <ul class="plinks ptags" th:each="tag : ${tagList}">
                        <li><a href="/tag/67/list" th:title="${tag.tagName}" draggable="false" th:inline="text">[[${tag.tagName}]]<span class="badge" th:text="${tag.subArticleCount}"></span></a></li>
                    </ul>
                </div>
            </div>


        </div>
        <div class="widget widget_hot">
            <h3>最新评论文章</h3>
            <ul><li><a title="用DTcms做一个独立博客网站（响应式模板）" href="#" ><span class="thumbnail">
<img class="thumb" data-original="#" src="#" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: block;">
</span><span class="text">用DTcms做一个独立博客网站（响应式模板）</span><span class="muted"><i class="glyphicon glyphicon-time"></i>2016-11-01
</span><span class="muted"><i class="glyphicon glyphicon-eye-open"></i>88</span></a></li>

            </ul>
        </div>
    </aside>
</section>


<!-- End of Page Container -->
<a href="#top" id="scroll-top"></a>
<!--下面是搜索的-->
<script src="/static/js/searchJS/jquery.min.js"></script>
<script src="/static/admin/js/myJS/index.js"></script>
<script type="text/javascript">
    $(function(){
        getTagArticleList(1,1,5);
        update_history();
        // 搜索点击事件
        $("#search").click(function(){
            var searchval = $("#keywords").val();
            history(searchval); //添加到缓存
            update_history(); //更新搜索历史
            //ajax搜索返回
            $.ajax({
                type: "POST",
                url: "../article/search",
                data: {"searchval":searchval},
                dataType: "json",
                success: function (data) {
                    if (data.code === 200){
                        alert("成功");
                    }
                },
                error : function(e) {           //请求失败的回调函数
                    console.log(e);
                    alert("搜索失败");
                }
            })
        })
        // 清空搜索历史
        $("#empty").click(function(){
            mystorage.remove('keywords');
            $("#history").html(" ");
        })
    })

    function update_history(){
        console.log(mystorage.get("keywords"));
        var history = mystorage.get("keywords");
        if (history) {
            var html = "";
            $.each(history,function(i,v){
                html += "<a class='btn btn-default' href='javascript:;' role='button'>"+v+"</a>"
            })
            $("#history").html(html);
        };
    }

    function history(value){
        var data = mystorage.get("keywords");
        if (!data) {
            var data = []; //定义一个空数组
        }else if(data.length === 5){ //搜索历史数量
            data.shift();  //删除数组第一个元素有
        }else{

        };
        if (value) {  //判断搜索词是否为空
            if (data.indexOf(value)<0) {  //判断搜索词是否存在数组中
                data.push(value);    //搜索词添加到数组中
                mystorage.set("keywords",data);  //存储到本地化存储中
            };
        };
    }
    var mystorage = (function mystorage(){
        var ms = "mystorage";
        var storage=window.localStorage;
        if(!window.localStorage){
            alert("浏览器不支持localstorage");
            return false;
        }
        var set = function(key,value){
            //存储
            var mydata = storage.getItem(ms);
            if(!mydata){
                this.init();
                mydata = storage.getItem(ms);
            }
            mydata = JSON.parse(mydata);
            mydata.data[key] = value;
            storage.setItem(ms,JSON.stringify(mydata));
            return mydata.data;
        };
        var get = function(key){
            //读取
            var mydata = storage.getItem(ms);
            if(!mydata){
                return false;
            }
            mydata = JSON.parse(mydata);
            return mydata.data[key];
        };
        var remove = function(key){
            //读取
            var mydata = storage.getItem(ms);
            if(!mydata){
                return false;
            }
            mydata = JSON.parse(mydata);
            delete mydata.data[key];
            storage.setItem(ms,JSON.stringify(mydata));
            return mydata.data;
        };
        var clear = function(){
            //清除对象
            storage.removeItem(ms);
        };
        var init = function(){
            storage.setItem(ms,'{"data":{}}');
        };
        return {
            set : set,
            get : get,
            remove : remove,
            init : init,
            clear : clear
        };
    })();
</script>

</body>
</html>
