<!-- META TAGS -->
<base href="http://localhost:8080/" />
<meta charset="UTF-8"/>
<link rel="shortcut icon" href="/static/images/favicon.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>肇梦之家</title>
<link rel='stylesheet' id='bootstrap-css-css' href="/static/css/bootstrap5152.css?ver=1.0" type='text/css'
      media='all'/>
<link rel='stylesheet' id='responsive-css-css' href="/static/css/responsive5152.css?ver=1.0" type='text/css'
      media='all'/>
<link rel='stylesheet' id='pretty-photo-css-css'  href="/static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4"
      type='text/css' media='all'/>
<link rel='stylesheet' id='main-css-css' type='text/css' media='all' href="/static/css/main5152.css?ver=1.0"/>
<link type="text/css" rel="stylesheet" href="/static/css/home.css">

<!-- Start of Header -->
<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="logo-container">
                <!-- Website Logo -->
                <a href="" title="CampusInfo Platform">
                    <img src="/static/images/logo.png" alt="CampusInfo Platform">
                </a>
                <span class="tag-line">--肇梦之家--</span>
            </div>
            <!-- Start of Main Navigation -->
            <nav class="main-nav">
                <div class="menu-top-menu-container">
                    <ul id="menu-top-menu" class="clearfix">
                        <li><a href="/campus/index" >主页</a></li>
                        <li><a href="/campus/categories">分类</a></li>
                        <li><a href="/campus/articleslist?pageNum=1&&pageSize=10">文章清单</a></li>
<!--                        <li><a href="/campus/elements">标签</a></li>-->
                        <li><a href="/tag/list">标签列表</a></li>
                        <li id="morePag"></li>
                        <li id="userInfos"></li>
                    </ul>
                </div>
            </nav>
            <!-- End of Main Navigation -->
        </div>
    </header>
</div>
<!-- End of Header -->
<!-- script -->
<script type='text/javascript' src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/admin/js/myJS/common.js"></script>
<script type="text/javascript" src="/static/admin/js/myJS/index.js"></script>
<script type="text/javascript" src="/static/admin/js/myJS/config.js"></script>
<script type="text/javascript">
    let sessionStorage = window.sessionStorage;
    document.cookie.includes('USER_TOKEN')
    if(sessionStorage.getItem("user_name") !=null){
        $('#morePag').html('<li><a  href="/campus/categories">我的评论</a></li>');

        $('#userInfos').html("<div class=\"ydc-column-user\"><div class=\"ydc-user-photo\">" +
            " <a href=\"javascript:;\">\n" +
            "<img src=\"/static/images/photo.png\" title=\"\" about=\"\" alt=\"\">" +
            "</a></div><div class=\"ydc-user-info\"><div class=\"ydc-user-info-name\">" +
            '<a href="javascript:;"'+' id="user_name"'+' ></a>' +
            "</div><div class=\"ydc-user-info-func ydc-flex\">\n" +
            '<span class=\"ydc-tag\" id="user_roleName" '+'></span>' +
            "<span class=\"ydc-mal\"></span>\n" +
            '<a  href="/user/loginOut" '+
            ">退出</a></div></div></div>");
        $("#user_name").text(sessionStorage.getItem("user_name"));
        $("#user_roleName").text("学生");
    }else{
        $('#userInfos').html('<a  href="/admin/login"'+'>登录</a>');
    }
</script>